// ***** IMPORT FONTS

@font-face {
    font-family: 'DK Lemon Yellow Sun';
    src: url('../fonts/DKLemonYellowSun.eot');
    src: url('../fonts/DKLemonYellowSun.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DKLemonYellowSun.woff2') format('woff2'),
        url('../fonts/DKLemonYellowSun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Italic.eot');
    src: url('../fonts/Ubuntu-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ubuntu-Italic.woff2') format('woff2'),
        url('../fonts/Ubuntu-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Regular.eot');
    src: url('../fonts/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ubuntu-Regular.woff2') format('woff2'),
        url('../fonts/Ubuntu-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Bold.eot');
    src: url('../fonts/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ubuntu-Bold.woff2') format('woff2'),
        url('../fonts/Ubuntu-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?3zru3w');
  src:  url('../fonts/icomoon.eot?3zru3w#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?3zru3w') format('truetype'),
    url('../fonts/icomoon.woff?3zru3w') format('woff'),
    url('../fonts/icomoon.svg?3zru3w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


// ***** Fonts mixins & classes

%font {
    font-family:$font;
    font-weight:normal;
    font-style:normal;
}

%font-italic {
    font-family:$font;
    font-weight:normal;
    font-style:italic;
}

%font-bold {
    font-family:$font;
    font-weight:bold;
    font-style:normal;
}

%font-cursive {
    font-family:$font-cursive;
    font-weight:normal;
    font-style:normal;
}

.font {
    @extend %font;
}

.font-italic {
    @extend %font-italic;
}

.font-bold {
    @extend %font-bold;
}

.font-cursive {
    @extend %font-cursive;
}

// ***** ICOMOON

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
}
.icon-flamme:before {
  content: "\e901";
}
.icon-star:before {
  content: "\e902";
}
.icon-group:before {
  content: "\e903";
}
.icon-pen:before {
  content: "\e904";
}
.icon-question:before {
  content: "\e905";
}
.icon-trash:before {
  content: "\e906";
}
.icon-no-eye:before {
  content: "\e907";
}
.icon-close:before {
  content: "\e908";
}
.icon-check:before {
  content: "\e909";
}
.icon-groups:before {
  content: "\e90a";
}
.icon-gift:before {
  content: "\e90b";
}
.icon-user:before {
  content: "\e90c";
}
.icon-home:before {
  content: "\e90d";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-list:before {
  content: "\e9bb";
}
.icon-upload:before {
  content: "\e9c3";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-cancel:before {
  content: "\ea0e";
}
.icon-caret:before {
  content: "\ea43";
}