.u-panel {
    
    @include position(fixed,100,0,0,0,auto);
    @include transi(.35s,ease-out,.35s);
    opacity:0;
    background:$light;
    width:0;
    overflow:hidden;
    
    &_close {
        @include flex(inline-flex,center,center);
        width:40px;
        height:40px;
        @include position(absolute,100,15px,15px);
        cursor:pointer;
        border-radius:50%;
        background:$secondary-dark;
        color:$light;
        
        &:after {
            content: "\e908";
            display: inline-block;
            vertical-align: middle;
            font-size:18px;
            line-height: 18px;
            font-family:'icomoon';
        }
        
        @media (min-width:$screen-lg) {
            right:20px;
            top:20px;
        }
        
        @media (min-width:$screen-xl) {
            right:30px;
            top:30px;
        }
    }
    
    &_overlay {
        content:'';
        display: block;
        @include position(fixed,99,0,0,0,auto);
        width:0vw;
        opacity:0;
        backdrop-filter: blur(7px);
        transition:width 0s ease-out .5s, opacity .3s ease-out 0s;
    }
    
    &_content {
        transition:all .25s ease-out 0s;
        opacity:0;
        transform: translateX(10%);
        overflow-y: scroll;
        width:calc(100% + 30px);
        padding:30px 50px 30px 20px;
        max-height:100%;
        
        @media (min-width:$screen-sm) {
            padding:3rem 10rem 6rem 5rem;
            width:calc(100% + 5rem);
        }
        
        // ***** Active Effect
        
        &.active {
            transition-delay:.35s;
            opacity:1;
            transform:none;
        }
    }
    
    &_message {
        color:$dark;
        @include transi(.3s);
        opacity:1;
        
        &.inactive {
            opacity:0;
        }
    }
    
    &_warning {
        color:$dark;
        @include flex(flex,center,flex-start);
        margin-top:3rem;
        
        .icon-warning {
            @include icon(4rem);
            margin-right:2rem;
        }
    }
    
    &_header {
        @include flex(flex,center,space-between);
        padding:6rem 0 3rem 0;
        margin-bottom:6rem;
        border-bottom:solid 1px $secondary;
        position:relative;
    }
    
    &_logout {
        @include flex(inline-flex,center,flex-end);
        .icon-cancel {
            @include icon(18px);
            margin-left:10px;
        }
    }
    
    // ***** Active Effect
    
    &.active {
        width:90vw;
        opacity:1;
        transition-delay:0s;
        box-shadow:-3px 0px 5px rgba($dark,.35);
        
        @media (min-width:$screen-sm) {
            width:60vw;
        }
        
        @media (min-width:$screen-md) {
            width:45vw;
        }
        
        @media (min-width:$screen-xl) {
            width:33.333vw;
        }
        
        &~.u-panel_overlay {
            width:100vw;
            opacity:1;
            transition:width 0s ease-out, opacity .3s ease-out .1s;
        }
    }
}