.u-panel {
    
    @include position(fixed,1,0,0,0,auto);
    @include transi(.5s,ease-out,.5s,all);
    opacity:0;
    background:$light;
    
    &_overlay {
        content:'';
        display: block;
        @include position(fixed,-1,0,0,0,auto);
        width:0;
        opacity:0;
        @include transi(.5s,ease-out,.5s,all);
    }
    
    &.active {
        width:50vw;
        z-index:100;
        opacity:1;
        
        &~.u-panel_overlay {
            width:100vw;
            opacity:1;
            z-index:99;
            backdrop-filter: blur(6px);
            background:rgba($dark,.5);
        }
    }
}