# Suppression du domaine sans les www
RewriteEngine on
Options +FollowSymlinks
# RewriteCond %{HTTP_HOST} !^www\. [NC]
# RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

# RewriteCond %{SERVER_PORT} 80
# RewriteRule ^(.*)$ https://www.benjamin-tronchet.fr/$1 [R,L]

# Compression des fichiers
SetOutputFilter DEFLATE

# Mise en cache du navigateur
# <filesMatch ".(jpg|jpeg|png|gif|ico|txt|css|js|woff|eot|svg|ttf)$">
# Header set Cache-Control "max-age=2592000, public"
# </filesMatch>

# Empêcher le listing des répertoires
Options -Indexes

# ================== REDIRECTION DES PAGES

RewriteRule ^([a-zA-Z0-9\-]+)\/?$ index.php?page=$1 [QSA,L]
RewriteRule ^([a-zA-Z0-9\-]+)\/([a-zA-Z0-9\-]+)\/?$ index.php?page=$1&action=$2 [QSA,L]
RewriteRule ^([a-zA-Z0-9\-]+)\/([a-zA-Z0-9\-]+)\/([0-9a-z\-]+)\/?$ index.php?page=$1&action=$2&id=$3 [QSA,L]