.p-header {
    
    padding-top:30px;
    padding-bottom:30px;
    border-bottom:solid 1px $secondary-dark;
    margin-bottom:5rem;
    position:relative;
    
    @media (min-width:$screen-sm) {
        
        padding-top:10rem;
        
    }
    
    &_fixed {
        
        background:$light;
        @include position(fixed,6,0,0,auto,0);
        
        &:after {
            content:'';
            display:block;
            @include position(absolute,1,100%,0,auto,0);
            height:5rem;
            background:linear-gradient(to bottom,$light,rgba(255,255,255,0));
        }
        
        .p-header {
            
            margin-bottom:0;
            padding-top:0;
            padding-bottom:0;
            height:130px;
            
            @media (min-width:$screen-md) {
                
                height:16rem;
                padding-top:8rem;
                
            }
            
            @media (min-width:$screen-lg) {
                
                padding-top:9rem;
                
            }
            
            @media (min-width:$screen-xl) {
                
                padding-top:9.5rem;
                
            }
            
        }
        
        &+div {
            
            margin-top:calc(130px + 5rem);
            
            @media (min-width:$screen-md) {
                
                margin-top: 21rem;
                
            }
            
        }
        
        &--alt {
            
            @extend .p-header_fixed;
            
            &:after {
                
                height:8rem;
                
            }
            
            .p-header {
                
                padding-bottom:0;
                border:none;
                
                @media (min-width:$screen-sm) {
                    
                    height:140px;
                    
                }
                
                @media (min-width:$screen-md) {
                    
                    height:25rem;
                    
                }
            }
        
            &+div {
                
                margin-top: calc(130px + 8rem);

                @media (min-width:$screen-sm) {

                    margin-top: calc(140px + 8rem);

                }

                @media (min-width:$screen-md) {

                    margin-top: 33rem;

                }

            }
            
        }
        
    }
    
    &_button {
        
        margin:10px 0;
        
        @media (min-width:$screen-md) {
            
            margin:0 0 30px 0;            
            @include position(absolute,1,auto,0,0);
            
        }
        
    }
    
}