@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?o8fktj');
  src:  url('fonts/icomoon.eot?o8fktj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?o8fktj') format('truetype'),
    url('fonts/icomoon.woff?o8fktj') format('woff'),
    url('fonts/icomoon.svg?o8fktj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
}
.icon-flamme:before {
  content: "\e901";
}
.icon-star:before {
  content: "\e902";
}
.icon-group:before {
  content: "\e903";
}
.icon-pen:before {
  content: "\e904";
}
.icon-question:before {
  content: "\e905";
}
.icon-trash:before {
  content: "\e906";
}
.icon-no-eye:before {
  content: "\e907";
}
.icon-close:before {
  content: "\e908";
}
.icon-check:before {
  content: "\e909";
}
.icon-groups:before {
  content: "\e90a";
}
.icon-gift:before {
  content: "\e90b";
}
.icon-user:before {
  content: "\e90c";
}
.icon-home:before {
  content: "\e90d";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-list:before {
  content: "\e9bb";
}
.icon-upload:before {
  content: "\e9c3";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-cancel:before {
  content: "\ea0e";
}
.icon-caret:before {
  content: "\ea43";
}
