@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3zru3w');
  src:  url('fonts/icomoon.eot?3zru3w#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3zru3w') format('truetype'),
    url('fonts/icomoon.woff?3zru3w') format('woff'),
    url('fonts/icomoon.svg?3zru3w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pen:before {
  content: "\e905";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-gift:before {
  content: "\e99f";
}
.icon-trash:before {
  content: "\e9ad";
}
.icon-list:before {
  content: "\e9bb";
}
.icon-upload:before {
  content: "\e9c3";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-cancel:before {
  content: "\ea0e";
}
.icon-close:before {
  content: "\ea0f";
}
.icon-check:before {
  content: "\ea10";
}
.icon-caret:before {
  content: "\ea43";
}
