.dashboard {
    
    .page-background {
        display:none;
        
        @media (min-width:$screen-sm) {
            display:block;
            @include position(fixed,1,0,auto,0,0%);
            width:15%;
            background:url('../img/background_dashboard.jpg') no-repeat left center;
            background-size:auto 100%;
        }
    }
    
    &_content {
        
        &+& {
            
            margin-top:7rem;
            
        }
        
        &:last-child {
            
            padding-bottom:6rem;
            border-bottom:solid 1px $secondary-dark;
            
            @media (min-width:$screen-sm) {
                
                margin-bottom: 0;
                
            }
            
        }
        
        .c-form {
            
            margin-top:3rem;
            
        }
        
        @media (min-width:$screen-sm) {
            
            padding-right:35%;
            
        }
        
        @media (min-width:$screen-md) {
            
            padding-right:30%;
            
        }
        
        @media (min-width:$screen-xl) {
            
            padding-right:50%;
            
        }
        
    }
    
}