.dashboard {
    
    .page-background {
        display:none;
        
        @media (min-width:$screen-sm) {
            display:block;
            @include position(fixed,1,0,auto,0,0%);
            width:15%;
            background:url('../img/background_dashboard.jpg') no-repeat left center;
            background-size:auto 100%;
        }
    }
    
    &_content {
        
        &+& {
            
            margin-top:7rem;
            
        }
        
        &:last-child {
            
            padding-bottom:6rem;
            border-bottom:solid 1px $secondary-dark;
            
            @media (min-width:$screen-sm) {
                
                margin-bottom: 0;
                
            }
            
        }
        
        .c-form {
            
            margin-top:3rem;
            
        }
        
    }
    
    // ***** Dashboard cards
    
    &_card {
        &_wrapper {
            width:100%;
            @include flex(flex,flex-start,flex-start,column);
            margin-top:6rem;
            
            @media (min-width:$screen-sm) {
                flex-direction: row;
                justify-content: space-between;
                align-items:stretch;
            }
        }
        
        border:solid 1px $secondary-dark;
        border-radius:3rem;
        padding:3rem;
        overflow:hidden;
        text-align: center;
        width:100%;
        @include flex(flex,flex-start,flex-start,column);
        
        @media (min-width:$screen-sm) {
            width:calc(50% - 1.5rem);
            margin-bottom: 3rem;
        }
        @media (min-width:$screen-md) {
            width:calc(33.333% - 2rem);
        }
        
        &_head {
            margin:-3rem;
            margin-bottom:3rem;
            background:$secondary-dark;
            width: calc(100% + 6rem);
            color:$light;
            @extend %font-bold;
            text-align:center;
            padding:1.5rem;
        }
        
        &_button {
            align-self: center;
            margin-top:3rem;
            
            @media (min-width:$screen-sm) {
                justify-self:flex-end;
            }
        }
        
        &+& {
            margin-top:6rem;
            
            @media (min-width:$screen-sm) {
                margin-top: 0;
            }
        }
    }
    
}