.users {
    
    .page-background {
        display:none;
        
        @media (min-width:$screen-md) {
            display:block;
            @include position(fixed,10,0,auto,0,0%);
            width:15%;
            background:url('../img/background_dashboard.jpg') no-repeat left center;
            background-size:auto 100%;
        }
    }
    
    &_list {
        
        margin-top:4rem;
        @include flex(flex,center,space-between);
        
        &_add {
            text-align:center;
            border-top:solid 1px $secondary-dark;
            width:100%;
            margin:4rem 0;
            padding-top:4rem;
        }
        
        &_title {
            margin:0 0 6rem 0;
            width:100%;
        }
        
        &_item {
            @include flex(flex,flex-start,flex-start);
            margin-bottom:6rem;
            width:100%;
            
            &_head {
                @include flex(flex,center,space-between);
                width:100%;
                padding-bottom:15px;
                margin-bottom: 30px;
                border-bottom:solid 1px;
            }
            
            &_leave {
                @include flex(inline-flex,center,flex-start);
                
                .icon-cancel {
                    margin-left:10px;
                }
            }
            
            &_empty {
                width:100%;
            }
        }
        
        &_member {
            width:100%;
            @include flex(flex,center,space-between);
            padding-bottom:10px;
            margin-bottom:10px;
            border-bottom:solid 1px rgba($dark,.25);
            position:relative;
            
            &:last-child {
                border-bottom: none;
            }
            
            @media (min-width:$screen-sm) {
                border:solid 1px rgba($dark,.25);
                padding:15px;
                width:calc(50% - 15px);
                margin-bottom:30px;
                border-radius:3rem;
                
                &:last-child {
                    border-bottom:solid 1px rgba($dark,.25);
                }
            
                &+& {
                    margin-left:30px;
                }
            }
            
            @media (min-width:$screen-lg) {
                padding:20px;
            }
            
            @media (min-width:$screen-xl) {
                width:calc(33.333% - 10px);
            
                &+& {
                    margin-left:15px;
                }
            }
            
            &_img {
                width:30%;
                position:relative;
                
                &_wrapper {
                    width:100%;
                    padding-bottom:100%;
                    position:relative;
                    overflow:hidden;
                    
                    img {
                        @include position(absolute,1,0,0);
                        width:100%;
                        height:100%;
                        object-fit:cover;
                        border-radius:50%;
                    }
                }
            }
            
            &_title {
                width:65%;
                font-size:150%;
                @extend %font-bold;
                color:$dark;
                text-align:right;
            }
            
            &_button {
                margin-top:10px;
            }
            
            &_notif {
                @include flex(inline-flex,center,center);
                @include position(absolute,1,-6px,auto,auto,-6px);
                width:30px;
                height:30px;
                background:$secondary;
                font-size:11px;
                color:$light;
                border-radius:20px;
                
                @media (min-width:$screen-sm) {
                    width:auto;
                    padding:0 10px;
                    top:-12px;
                    left:50%;
                    height:24px;
                    transform: translateX(-50%);
                    background:$primary;
                }
                
                [class*='icon'] {
                    @include icon(18px);
                    
                    @media (min-width:$screen-sm) {
                        margin-right:5px;
                        @include icon(14px);
                    }
                }
            }
        }
    }
}